@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Are+You+Serious&family=My+Soul&family=Neonderthaw&family=Oleo+Script+Swash+Caps:wght@400;700&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&family=Yesteryear&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #ffd28e;
    --block-color: #000000;
    --main-img: url(./img1.jpg);
}
body {
    width: 100vw;
    background-color: #171717;
    font-family: 'Roboto';
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

header { 
    height: 10vh;
    display: flex;
    padding: 2vh 4vw;
    background-color: var(--block-color);
    color: var(--main-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
}

.logo a {
    color: #d09d70;
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Neonderthaw';
    padding: 2vw;
    border-radius: 50%;
}

.nav {
    width: 90%;
    /* width: fit-content; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    background-color: rgb(255, 255, 255, 0.9 );
    border: 1px solid var(--main-color);
    border-radius: 5px;
    border-top-right-radius: 0;
    padding: 2vh 8vw 1vh 4vw;
    font-weight: bold;
    position: absolute;
    right: 4vw;
    top: 7vh;
    z-index: 1;
    height: 0px;
    visibility: hidden;  
    transition: all linear 0.3s;
}

.nav li {
    padding-bottom: 2vh;
    opacity: 0;
    transition: all linear 0.3s;
}

.nav li a {
    color: #815719;
    padding: 0 2vw;
    border-radius: 2px;
    font-weight: bold; 
}

#checkbox {
    display: none;
}

.menu-btn { 
    width: 30px;
    height: 2px;
    background-color: var(--main-color);
    position: relative;
}

.menu-btn::after, .menu-btn::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--main-color);
}

.menu-btn::before {
    top: 8px;
}

.menu-btn::after {
    top: -8px;
}

#checkbox:checked ~ .nav {
   visibility: visible;
   height: 28vh;
}

#checkbox:checked ~ .nav li {
    opacity: 1;
}

#checkbox:checked ~ label .menu-btn {
    top: 0;
    background-color: #000000;
}

#checkbox:checked ~ label .menu-btn::after {
    top: 0;
    transform: rotate(45deg);
}

#checkbox:checked ~ label .menu-btn::before {
    top: 0;
    transform: rotate(-45deg);
}


.home {
    background-color: var(--block-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 2vw;
    color: var(--main-color);
    text-transform: uppercase;
}

.main-inf {
    line-height: 5vh;
}

h2 {
   color: rgb(139, 87, 18);
   z-index: 1;
}

.cv {
    color: rgb(139, 87, 18);
    font-weight: bold;
    background-color: #171717;
    padding: 1vh 2vw;
    border-radius: 10px;
    font-size: 3vw;
}

.figure {
    width: 40%;
    height: 20vh;
    z-index: 0;
    background-image: var(--main-img);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px black inset, 0 0 60px black inset, 0 0 10px rgb(23, 23, 23);
    opacity: 0.7;
}

.about, .contact, .projects, .skills, footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    padding: 5vh 5vw;
    background-color: var(--block-color);
    color: var(--main-color);
}

.about-me {
    color: #605748;
    text-align: justify;
}

.add-info-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.addit-inf {
    width: 90%;
    display: flex;
    justify-content: space-around;
    
}

.addit-inf a{
    font-size: 3vw;
    color: var(--main-color);
}

.form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.form input {
    width: 100%;
    height: 4vh;
    padding-left: 2vw;
    background-color: transparent;
    border: none;
    border-bottom:2px solid #815719;
    color: var(--main-color);
    outline: none;
}

.form textarea {
    width: 100%;
    height: 12vh;
    padding-left: 2vw;
    padding-top: 2vh;
    background-color: transparent;
    border: none;
    border-bottom:2px solid #815719;
    color: var(--main-color);
    outline: none;
}

.form button {
    width: 40%;
    height: 5vh;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 5vw;
    color: #533810;
    background-color: #d09d70;
}

.pr-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative; 
}
.pr-list{
    width: 100%;
    min-height: 34vh;
    /* height: 60vh; */
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.project {
    width: 60%;
    /* height: 80%; */
    position: absolute;
    padding: 5%;
    border: 2px solid goldenrod;
    box-shadow: 0 0 10px rgb(176, 153, 60);
    opacity: 0;
}

.pr-center {
    opacity: 1;
    z-index: 2;
}

.project-img {
    width: 100%;
    height: 20vh;
    /* background-image: url(./projects-data/pr1.png); */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2vh;
}

.pr-name {
    background-color: rgb(0, 0, 0, 0.3);
    padding: 1vh 1vw;
    border-radius: 10px;
    font-size: 2vw;
    text-decoration: underline;
    position: absolute;
    top: 1vh;
}

.pr-more {
    font-size: 2vw;
    color: #533810;
    padding: 0 1vw;
    background-color: rgba(107, 107, 107, 0.9);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.prog-languages {
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    padding: 3vh 0 0 0;
    font-size: 3vw;

}

.prog-language {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.pr-cir {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #a49f0b;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    color: #a4580b;
    top: 12vh;
    width: auto;
    font-weight: bold;
    font-size: 4vw;
    transition: 0 3s ease;
    
}

.prev {
    left: 0vw;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    color: rgb(209, 157, 112);
}

.active, .dot:hover {
    background-color: #745639;
}

.skills-wrap {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 8vw;
    flex-wrap: wrap;
}

.skill {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 20, 12);
  }
  
  .skill-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 100%;
  }

  .footer {
    font-size: 2.5vw;
  }

  .fot-name {
    color: #a2947e;
  }

@media only screen and (min-width: 768px) {
  
    .nav {
        font-size: 2.5vw;
        width: fit-content;
    }

    .home {
        justify-content: space-between;
        padding: 7vh 7vw;
    }

    .main-inf {
        line-height: 5vh;
    }
    
    h2 {
       font-size: 4vw;
    }

    h4 {
        font-size: 2.5vw;
        padding-bottom: 2vh;
    }
    
    .cv {
        padding: 1.5vh 2.5vw;
        font-size: 2vw;
    }
    
    .figure {
        width: 40%;
        height: 28vh;
    }

    .about, .skills {
        gap: 4vh;
        padding: 7vh 7vw;
    }

    .about h3, .contact h3, .projects h3,  .skills h3 {
        font-size: 3vw;
    }
    
    .about-me {
        font-size: 2.5vw;
    }
    
    .circle {
        height: 7vh;
    }
    
    .point {
        width: 3vw;
        height: 2vh;
    }

    .form {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;
    }
    
    .form input, .form textarea {
       font-size: 3vw;
    }
    
    .form button {
        width: 40%;
        height: 6vh;
    }

    .projects {
        padding: 7vh 7vw;
    }
    
    .skill {
        width: 100px;
        height: 100px;
        padding: 2.5em;
        font-size: 1.5em;
    }
    
    .skill-border {
        width: 110px;
        height: 110px;
        padding: 4em;
    }
    
}



@media only screen and (min-width: 992px) { 
    .logo {
        font-size: 1vw;
        padding: 1vw;
    }
    
    .nav {
        height: 100%;
        visibility: visible;
        flex-direction: row;
        align-items: center; 
        background-color: transparent;
        border: none;
        right: 0;
        top: 0;
        font-size: 1.5vw;
    }
    
    .nav li {
        padding-bottom: 0;
        opacity: 1;
    }

    .nav li a {
        padding: 1vh 2vw;
        border-radius: 10px;
        
    }
    
    .activ-link {
        background-color: rgb(176, 154, 126);
        box-shadow: 0 0 10px  rgb(176, 154, 126),  0 0 30px  rgb(193, 185, 175);
    }
    
    .menu-btn { 
       display: none;
    }

    .main-inf {
        line-height: 10vh;
    }
    
    .figure {
        width: 40%;
        height: 54vh;
    }

    .about-me {
        font-size: 2vw;
    }
    
    .circle {
        width: 8vw;
        height: 12vh;
    }
    
    .point {
        width: 3vw;
        height: 4vh;
    }

    .title {
        font-size: 2vw;
    }
   
    .content {
        font-size: 1.5vw;
    }

    .form {
        padding-top: 2vh;
        width: 50%;
        gap: 3vh;
    }
    
    .form input {
        height: 10vh;
        font-size: 2vw;
    }
    
    .form textarea {
        height: 16vh;
        font-size: 2vw;
    }
    
    .form button {
        width: 30%;
        height: 6vh;
        font-size: 2vw;
        margin-top: 2vh;
    }

    .projects {
        position: relative;
    }

    .pr-list{
        height: 44vh;
    }

    .project {
        width: 50%;
        height: 90%;
        opacity: 1;
    }
    
    .pr-center {
        z-index: 2;
        top: 3vh;
        background-color: var(--block-color);
        box-shadow: 0 0 30px sandybrown;
    }

    .pr-left {
        left: -5vw;
        z-index: 1;
    }
   
    .pr-right {
        z-index: 1;
        right: -5vw;
    }

    .prog-languages {
        font-size: 2vw;
    }
    
    .pr-cir {
        width: 10px;
        height: 10px;
    }
    
    .prev, .next {
        top: 12vh;
        z-index: 5;
    }
    
    .prev {
        left: -5vw;
    }
    
    .next {
        right:-5vw;
    }
    
    .footer {
        font-size: 1.5vw;
      }
}

